.finishQuiz {
    background-color: #627BF3;
    box-shadow: 0 2px 7px 0 #292B2F;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
}

.quizQuestionReview {
    background-color: #36393D;
    padding: 20px;
    border-radius: 20px;
}

.quizQuestionReview h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.quizQuestionReview p {
    margin: 0;
    display: inline;
}

.reviewQuestion {
    padding: 10px;
    border-radius: 5px;
    height: 25px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.reviewQuestion.opened {
    height: 179px;
}

.reviewQuestion:hover {
    background-color: #454950;
}

.reviewQuestionIcon {
    position: absolute;
    right: 10px;
    top: 8px;
    transition: transform .3s ease;
}

.reviewQuestionIcon.upsideDown {
    transform: rotate(180deg);
}