.treePage {
    background-color: #36393F;
    min-height: 100vh;
    font-family: "Whitney";
}

.landingPageLogo > img {
    margin-top: 50px;
    width: 400px;
}

.treeHeader {
    width: 170px;
    background-color: #26282C;
    border-radius: 10px;
    height: 50px;
    padding: 15px;
    margin: 20px auto;
    line-height: 0px;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 #2F3136;
    display: flex;
}

.treeHeader > img {
    height: 50px;
}

.treeHeader > h3 {
    margin: auto;
}

.treeNode {
    width: 200px;
    background-color: #26282C;
    border-radius: 10px;
    height: 50px;
    margin: 0 50px;
    line-height: 10px;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 #2F3136;
    position: relative;
}

.treeNodeIcon {
    position: absolute;
    right: 14px;
    top: 14px;
}

.treeLevel {
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
}