.treePage {
    background-color: #454950;
    min-height: 100vh;
    font-family: "Whitney";
    overflow-x: auto;
    background-image: radial-gradient(#929292 4%, transparent 8%);
    background-color: #454950;
    background-position: 300px -300px, 5px 5px;
    background-size: 25px 25px;
    padding-right: 20px;
}

.landingPageLogo {
    width: 100%;
}

.landingPageLogo > img {
    margin-top: 50px;
    width: 400px;
}

.treeHeader {
    width: 190px;
    background-color: #36393D;
    border-radius: 10px;
    height: 50px;
    padding: 15px;
    margin: 20px auto;
    line-height: 0px;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 #36393D;
    display: flex;
}

.treeKey {
    width: 190px;
    background-color: #36393D;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    cursor: pointer;
    box-shadow: 0 1px 1px 0 #36393D;
    position: fixed;
    top: 50px;
    left: 50px;
    text-align: left;
}

.treeKey h2 {
    margin: 5px;
}

.treeKey h3 {
    margin: 5px;
}

.treeHeader > img {
    height: 50px;
}

.treeHeader > h3 {
    margin: auto;
}

.treeNodeArea {
    width: 300px;
}

.treeNode {
    width: 200px;
    background-color: #36393D;
    border-radius: 10px;
    height: 30px;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 1px 1px 0 #36393D;
    padding: 10px;
    position: relative;
    transition: all .3s cubic-bezier(0.5, 0.0, 0.5, 1.0);
    overflow: hidden;
    user-select: none;
}

.treeNodeText {
    height: 30px;
    line-height: 30px;
    margin: 0;
}

.treeNodeTopic {
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.treeNodeIcon {
    position: absolute;
    right: 8px;
    top: 14px;
    transition: transform .3s ease;
}

.treeNodeCheck {
    position: absolute;
    left: 8px;
    top: 14px;
    transition: transform .3s ease;
}

.treeNodeIcon.upsideDown {
    transform: rotate(180deg);
}

.treeLevel {
    display: flex;
    justify-content: center;
    margin: 0;
}

.treeNodeTopRow,
.treeNodeBottomRow {
    display: flex;
    transition: all 0.3s cubic-bezier(0.5, 0.0, 0.5, 1.0);
}

.treeNodeTopRowBox,
.treeNodeBottomRowBox {
    height: 50px;
    width: 50%;
    border-left: 3px solid #4565EF;
    border-right: 3px solid #4565EF;
    transition: all 0.3s cubic-bezier(0.5, 0.0, 0.5, 1.0);
}

.treeNodeTopRowBox {
    border-top: 6px solid #4565EF;
}

.treeNodeTopRowBox:first-child,
.treeNodeBottomRow > div:first-child {
    border-left: none;
    border-right: 3px solid #4565EF;
}

.treeNodeTopRowBox:last-child,
.treeNodeBottomRow > div:last-child {
    border-left: 3px solid #4565EF;
    border-right: none;
}

.treeNodeContainer:first-child > .treeNodeArea > .treeNodeTopRow > .treeNodeTopRowBox:first-child {
    border-bottom: none;
    border-top: none;
    height: 56px;
}

.treeNodeContainer:last-child > .treeNodeArea > .treeNodeTopRow > .treeNodeTopRowBox:last-child {
    border-bottom: none;
    border-top: none;
    height: 56px;
}