.mainArticle {
    width: calc(100% - 350px);
    padding: 0 20px;
    text-align: left;
}

.viewExercises {
    background-color: #627BF3;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
}