.difficultExercisesPage {
    background-color: #44484F;
    min-height: 100vh;
    font-family: "Whitney";
    display: flex;
}

.difficultExercisesContent {
    flex-grow: 1;
}

.difficultExercisesList {
    width: 800px;
    margin: 0 0 0 25px;
}

.getSimilarExercises {
    background-color: #627BF3;
    box-shadow: 0 2px 7px 0 #292B2F;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
}