.newUserPage {
    background-color: #454950;
    min-height: 100vh;
    font-family: "Whitney";
}

.newUserLogo > img {
    margin-top: 50px;
    width: 400px;
}

select {    
    background-color: #414349;
    border: 2px solid #37383D;
    border-radius: 3px;
    margin: 3px 0 15px 0;
    width: 330px;
    height: 34px;
    padding-left: 10px;
    color: #AAA;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 10px) calc(1em + 2px);
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
}
select:focus {
    background-image:
      linear-gradient(45deg, gray 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, gray 50%);
    background-position:
      calc(100% - 10px) 1em,
      calc(100% - 15px) 1em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
}

.newUserSubmit {
    background-color: #627BF3;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    margin: 40px auto 20px auto;
    cursor: pointer;
}

.checkboxes {
    background-color: #414349;
    border: 2px solid #37383D;
    margin-top: 5px;
}

#gradeLevel {
  margin-bottom: 35px;
}

/* Hide the browser's default checkbox */
.checkboxGroup input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkboxGroup {
    position: relative;
    padding-left: 35px;
    height: 26px;
    margin: 7px;
    display: flex;
    align-items: center;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 3px solid #7289DA;
  border-radius: 5px;
}
/* On mouse-over, add a grey background color */
.checkboxGroup:hover input ~ .checkmark {
    cursor: pointer;
  background-color: #ccc;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkboxGroup input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkboxGroup .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #7289DA;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}