.landingPage {
    background-color: #36393F;
    min-height: 100vh;
    font-family: "Whitney";
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landingPageLogo > img {
    margin-top: 50px;
    width: 500px;
    filter: drop-shadow(0 2px 4px #292B2F);
}

.landingPageCheckOutButton {
    background-color: #627BF3;
    box-shadow: 0 2px 7px 0 #292B2F;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    margin: 40px auto 20px auto;
}

.landingPageModuleList {
    margin-top: 50px;
}

.landingPageModule {
    width: 300px;
    background-color: #292B2F;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    margin: 0 30px;
}

.landingPageModuleName {
    text-align: left;
    display: block;
    font-size: 30px;
    margin: 0 0 10px 0;
}

.landingPageModuleRow {
    display: flex;
    justify-content: space-around;
}

.landingPageModuleRow img {
    height: 75px;
}

.landingPageModuleDesc {
    font-size: 14px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landingPageModuleDesc p {
    text-align: left;
    margin: 0;
}

.landingPageModuleDescLink {
    color: #627BF3;
    text-decoration: none;
    text-align: right;
    font-weight: bold;
}